# __311 Service Requests in Chicago__

## Import dependencies

In [0]:
!pip install altair -U
!pip install geopandas -U
!sudo apt-get update && apt-get install -y libspatialindex-dev
!pip install rtree
from google.colab import drive
drive.mount('/content/gdrive')
import altair as alt
import pandas as pd
import geopandas as gpd

Collecting altair
  Downloading https://files.pythonhosted.org/packages/a8/07/d8acf03571db619ff117df5730dd5c0b1ad0822aa02ad1084d73e2659442/altair-4.0.1-py3-none-any.whl (708kB)
     |████████████████████████████████| 716kB 8.6MB/s
Requirement already satisfied, skipping upgrade: toolz in /usr/local/lib/python3.6/dist-packages (from altair) (0.10.0)
Requirement already satisfied, skipping upgrade: jsonschema in /usr/local/lib/python3.6/dist-packages (from altair) (2.6.0)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.6/dist-packages (from altair) (0.25.3)
Requirement already satisfied, skipping upgrade: jinja2 in /usr/local/lib/python3.6/dist-packages (from altair) (2.10.3)
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.6/dist-packages (from altair) (1.17.5)
Requirement already satisfied, skipping upgrade: entrypoints in /usr/local/lib/python3.6/dist-packages (from altair) (0.3)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->altair) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->altair) (2.6.1)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->altair) (1.12.0)
Installing collected packages: altair
  Found existing installation: altair 4.0.0
    Uninstalling altair-4.0.0:
      Successfully uninstalled altair-4.0.0
Successfully installed altair-4.0.1
Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/5b/0c/e6c99e561b03482220f00443f610ccf4dce9b50f4b1093d735f93c6fc8c6/geopandas-0.6.2-py2.py3-none-any.whl (919kB)
     |████████████████████████████████| 921kB 9.5MB/s
Collecting pyproj
  Downloading https://files.pythonhosted.org/packages/d6/70/eedc98cd52b86de24a1589c762612a98bea26cde649ffdd60c1db396cce8/pyproj-2.4.2.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 38.3MB/s
Requirement already satisfied, skipping upgrade: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (0.25.3)
Requirement already satisfied, skipping upgrade: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.6.4.post2)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/50/f7/9899f8a9a2e38601472fe1079ce5088f58833221c8b8507d8b5eafd5404a/Fiona-1.8.13-cp36-cp36m-manylinux1_x86_64.whl (11.8MB)
     |████████████████████████████████| 11.8MB 24.0MB/s
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.6.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.17.5)
Requirement already satisfied, skipping upgrade: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Installing collected packages: pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13 geopandas-0.6.2 munch-2.5.0 pyproj-2.4.2.post1
Get:1 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:4 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:6 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [564 B]
Get:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release [564 B]
Get:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [36.8 kB]
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [833 B]
Get:14 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release.gpg [833 B]
Get:15 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,765 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,092 kB]
Get:17 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [852 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,341 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [11.1 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [39.8 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [4,243 B]
Get:22 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ Packages [82.0 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [26.1 kB]
Get:24 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [132 kB]
Get:25 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [797 kB]
Get:26 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Packages [30.4 kB]
Get:27 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [808 kB]
Get:28 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [7,061 B]
Fetched 7,320 kB in 2s (3,966 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex4v5
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
0 upgraded, 3 newly installed, 0 to remove and 90 not upgraded.
Need to get 555 kB of archives.
After this operation, 3,308 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Fetched 555 kB in 0s (5,587 kB/s)
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 135004 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
Collecting rtree
  Downloading https://files.pythonhosted.org/packages/11/1d/42d6904a436076df813d1df632575529991005b33aa82f169f01750e39e4/Rtree-0.9.3.tar.gz (520kB)
     |████████████████████████████████| 522kB 8.1MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from rtree) (42.0.2)
Building wheels for collected packages: rtree
  Building wheel for rtree (setup.py) ... done
  Created wheel for rtree: filename=Rtree-0.9.3-cp36-none-any.whl size=21264 sha256=d72a5c41daa39eb4674ab8b7a67065f778b2f09d18462168e57572ae98ffe3e9
  Stored in directory: /root/.cache/pip/wheels/0b/f6/58/2d819b2abdc280c3f70db0b0ce86a712839267957db7abad85
Successfully built rtree
Installing collected packages: rtree
Successfully installed rtree-0.9.3
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

## Helper Functions

In [0]:
def show_col_row_count(df):

    row, col = df.shape
    msg = "The dataframe currently has {} rows and {} columns."
    print(msg.format(row, col))

def drop_non_numeric(df, columns, verbose=False):

    if verbose:
        rows, _ = df.shape
        col_msg = "Removing all non-numeric rows for the following columns: {}."
        print(col_msg.format(columns))
    for col in columns:
        df = df[pd.to_numeric(df[col], errors="coerce").notnull()]
        if verbose:
            new_rows, _ = df.shape
            print("Removed {} rows from {}.".format(rows - new_rows, col))
            rows = new_rows
    return df

def drop_na(dataframe, columns, verbose=False):

    if verbose:
        rows, _ = dataframe.shape
        col_msg = "Removing all rows with NAs for the following columns: {}."
        print(col_msg.format(columns))
    df = dataframe.dropna(subset = columns)
    if verbose:
        new_rows, _ = dataframe.shape
        print("Removed {} rows.".format(rows - new_rows))
    return df

def save_columns(dataframe, columns):

    dataframe = dataframe[columns]
    return dataframe

def df_to_csv(dataframe, filename, verbose=False):

    try:
        dataframe.to_csv(filename, index=False)
        if verbose:
            print("Successfully saved to {}.".format(filename))
    except:
        if verbose:
            print("Failed to save to {}.".format(filename))

## Load the dataset - `311_Service_Requests.csv`

In [0]:
data_dir = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/311_Service_Requests_Chicago.csv"
dtype_dict = {
    "STREET_NUMBER": "object",
    "LEGACY_SR_NUMBER": "object",
    "PARENT_SR_NUMBER": "object",
    "SANITATION_DIVISION_DAYS": "object",
    }
df = pd.read_csv(data_dir, dtype=dtype_dict)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df["CREATED_DATE"] = pd.to_datetime(df["CREATED_DATE"], format='%m/%d/%Y %I:%M:%S %p')
df["CREATED_YEAR"] = df["CREATED_DATE"].dt.year
df["CLOSED_DATE"].fillna("01/16/2020 10:20:00 PM", inplace = True) 
df["CLOSED_DATE"]= pd.to_datetime(df["CLOSED_DATE"], format='%m/%d/%Y %I:%M:%S %p')
df["CLOSED_YEAR"] = df["CLOSED_DATE"].dt.year
df["DAYS_TAKEN"] = df["CLOSED_DATE"] - df["CREATED_DATE"]
df["DAYS_TAKEN"] = df["DAYS_TAKEN"].dt.days

In [0]:
df.sample(n = 5)

             SR_NUMBER                       SR_TYPE  ... CLOSED_YEAR DAYS_TAKEN
225400   SR19-01795040    Street Light Out Complaint  ...        2019          2
1398646  SR19-00442316  Tree Debris Clean-Up Request  ...        2018          3
610088   SR19-02477583      Report an Injured Animal  ...        2019          0
1690000  SR19-01041892     311 INFORMATION ONLY CALL  ...        2019          0
1854843  SR19-01289056      Aircraft Noise Complaint  ...        2019          0

[5 rows x 40 columns]

In [0]:
show_col_row_count(df)

The dataframe currently has 2362297 rows and 40 columns.

In [0]:
df = drop_non_numeric(df, ["ZIP_CODE"], verbose=True)

Removing all non-numeric rows for the following columns: ['ZIP_CODE'].
Removed 17961 rows from ZIP_CODE.

In [0]:
df = drop_na(df, ["ZIP_CODE", "CREATED_DATE", "WARD", "LOCATION", "LATITUDE", "LATITUDE"], verbose=True)

Removing all rows with NAs for the following columns: ['ZIP_CODE', 'CREATED_DATE', 'WARD', 'LOCATION', 'LATITUDE', 'LATITUDE'].
Removed 0 rows.

In [0]:
columns = [
    "SR_NUMBER", "SR_TYPE", "SR_SHORT_CODE",
    "OWNER_DEPARTMENT","STATUS", "CREATED_DATE",
    "CLOSED_DATE", "ZIP_CODE", "DUPLICATE",
    "LEGACY_RECORD", "WARD", "LATITUDE",
    "LONGITUDE", "LOCATION",
    "DAYS_TAKEN", "CREATED_YEAR", "CLOSED_YEAR",
    "CREATED_HOUR",	"CREATED_DAY_OF_WEEK", "CREATED_MONTH"
]
df = save_columns(df, columns)

In [0]:
df.head(n = 5)

         SR_NUMBER  ... CREATED_MONTH
11   SR19-02763102  ...            10
171  SR19-02366062  ...             9
175  SR19-02366112  ...             9
205  SR19-01480551  ...             5
586  SR19-02763151  ...            10

[5 rows x 20 columns]

In [0]:
show_col_row_count(df)

The dataframe currently has 2325604 rows and 20 columns.

In [0]:
# Save the dataset

# Dataset for 2018/07/01 - 2018/12/31
df_2018 = df[(df['CREATED_DATE'] > '2018-07-01 00:00:00') & (df['CREATED_DATE'] <= '2018-12-31 23:59:59')]
filename_2018 = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/cleaned_311_2018.csv"
df_to_csv(df_2018, filename_2018, verbose=True)
# Dataset for 2019/07/01 - 2019/12/31
df_2019 = df[(df['CREATED_DATE'] > '2019-07-01 00:00:00') & (df['CREATED_DATE'] <= '2019-12-31 23:59:59')]
filename_2019 = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/cleaned_311_2019.csv"
df_to_csv(df_2019, filename_2019, verbose=True)
# Entire cleaned dataset
filename = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/cleaned_311.csv"
df_to_csv(df, filename, verbose=True)

Successfully saved to /content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/cleaned_311_2018.csv.
Successfully saved to /content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/cleaned_311_2019.csv.
Successfully saved to /content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/cleaned_311.csv.

## Create a dataset for Census Tract (Number of Requests and Income Level)

In [0]:
# Load Census Tract Polygon dataset
tract_dir = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/census_tract_boundary/tracts.geojson"
tracts = gpd.read_file(tract_dir)
tracts.crs = 'epsg:4326'
tracts.head()

  statefp10  ...                                           geometry
0        17  ...  MULTIPOLYGON (((-87.62405 41.73022, -87.62405 ...
1        17  ...  MULTIPOLYGON (((-87.68608 41.82296, -87.68607 ...
2        17  ...  MULTIPOLYGON (((-87.62935 41.85280, -87.62934 ...
3        17  ...  MULTIPOLYGON (((-87.68813 41.85569, -87.68816 ...
4        17  ...  MULTIPOLYGON (((-87.63312 41.87449, -87.63306 ...

[5 rows x 10 columns]

In [0]:
cleaned_311 = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.LONGITUDE, df.LATITUDE))

In [0]:
cleaned_311.sample(n=1)

           SR_NUMBER  ...                    geometry
96006  SR19-01674218  ...  POINT (-87.88775 41.99490)

[1 rows x 21 columns]

In [0]:
cleaned_311.crs = "epsg:4326"
cleaned_311 = cleaned_311[cleaned_311.geometry.type == 'Point']
tracts_311 = gpd.sjoin(cleaned_311, tracts, how="inner", op='intersects')

In [0]:
tracts_311.sample(n=1)

             SR_NUMBER                      SR_TYPE  ... tractce10 countyfp10
1515394  SR19-00656211  Abandoned Vehicle Complaint  ...    230300        031

[1 rows x 31 columns]

In [0]:
tracts_count = tracts_311.groupby(["namelsad10"]).size().reset_index()
tracts_count = tracts_count.rename(columns={0: "Number_of_Requests"})

In [0]:
tracts_count.sample(n=1)

            namelsad10  Number_of_Requests
403  Census Tract 4908                2844

In [0]:
# load income dataset
income_dir = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/income_by_census_tract/income_2018_by_census_tract.csv"
income_df = pd.read_csv(income_dir)
income_df.sample(n=1)

                   GEO_ID  ... S1901_C04_016M
503  1400000US17031520300  ...            (X)

[1 rows x 130 columns]

In [0]:
def extract_census_tract(row):
    return row.split(",")[0]

# Extract Census Tract
income_df["NAME"] = income_df["NAME"].apply(lambda x : extract_census_tract(x))

# Save Estimate!!Households!!Mean income (dollars)
columns = ["NAME", "S1901_C01_013M"]
income_df = save_columns(income_df, columns)
income_df = income_df.rename(columns={"NAME": "namelsad10", "S1901_C01_013M": "Household_Income"})

In [0]:
# Merge it with tracts_count
tracts_count = tracts_count.merge(income_df, on='namelsad10', how='left')
tracts_count = drop_non_numeric(tracts_count, ["Household_Income"], verbose=True)

Removing all non-numeric rows for the following columns: ['Household_Income'].
Removed 3 rows from Household_Income.

In [0]:
tracts_count.sample(n=1)

            namelsad10  Number_of_Requests Household_Income
648  Census Tract 7306                2961            13193

In [0]:
# Save the merged dataset
tracts_311_count_filename = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/tracts_count.csv"
df_to_csv(tracts_count, tracts_311_count_filename, verbose=True)

Successfully saved to /content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/tracts_count.csv.

In [0]:
tracts_count

            namelsad10  Number_of_Requests Household_Income
0    Census Tract 1001                2743            50767
1    Census Tract 1002                3270            10135
2    Census Tract 1003                3354            15620
3    Census Tract 1004                1589            11261
4    Census Tract 1005                3442            11618
..                 ...                 ...              ...
794  Census Tract 8438                2215             7145
795  Census Tract 8439                2177             5744
796   Census Tract 901                1776            16964
797   Census Tract 902                3189            17667
798   Census Tract 903                3549            14871

[798 rows x 3 columns]

In [0]:
def evaluateForBivariate(row):
    # Adapted from the slack channel (Credit to Andrew McNutt)
    colorMatrix = [
        ["#64acbe", "#627f8c", "#574249"],
        ["#b0d5df", "#ad9ea5", "#985356"],
        ["#e8e8e8", "#e4acac", "#c85a5a"],
    ]
    xBoundaries = [1165.02, 1959.06]
    xIdx = 0
    if row["Number_of_Requests"] < xBoundaries[0]:
        xIdx = 0
    elif row["Number_of_Requests"] < xBoundaries[1]:
        xIdx = 1
    else:
        xIdx = 2
    yBoundaries = [8200.15, 12498.46]
    yIdx = 0
    if int(row["Household_Income"]) < yBoundaries[0]:
        yIdx = 2
    elif int(row["Household_Income"]) < yBoundaries[1]:
        yIdx = 1
    else:
        yIdx = 0

    return colorMatrix[yIdx][xIdx]

tracts_count["color"] = tracts_count.apply(lambda x : evaluateForBivariate(x), axis = 1)

In [0]:
tracts_count.sample(n=3)

               namelsad10  Number_of_Requests Household_Income    color
428      Census Tract 513                1133            33236  #64acbe
474     Census Tract 6004                1057            11624  #b0d5df
359  Census Tract 4301.01                1325            14284  #627f8c

In [0]:
# Save the merged dataset
tracts_311_count_filename = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/tracts_count.csv"
df_to_csv(tracts_count, tracts_311_count_filename, verbose=True)

Successfully saved to /content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/tracts_count.csv.

In [0]:
tracts_311_pothole = tracts_311[(tracts_311['SR_TYPE'] == "Pothole in Street Complaint")]

In [0]:
tracts_311_pothole.sample(n=5)

             SR_NUMBER                      SR_TYPE  ... tractce10 countyfp10
2125947  SR19-03067863  Pothole in Street Complaint  ...    700302        031
1103989  SR18-00143159  Pothole in Street Complaint  ...    100600        031
1862866  SR19-01301877  Pothole in Street Complaint  ...    842300        031
1689902  SR19-01041656  Pothole in Street Complaint  ...    711200        031
1786529  SR19-01190780  Pothole in Street Complaint  ...    030900        031

[5 rows x 31 columns]

In [0]:
# Save DSS dataset
pothole_filename = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/tracts_311_pothole.csv"
df_to_csv(tracts_311_pothole, pothole_filename, verbose=True)

Successfully saved to /content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/tracts_311_pothole.csv.

In [0]:
tracts_311_pothole.shape

(110816, 31)

In [0]:
tracts_311_call = tracts_311[(tracts_311['SR_TYPE'] == "311 INFORMATION ONLY CALL")]

# Save 311 call dataset
call_filename = "/content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/tracts_311_call.csv"
df_to_csv(tracts_311_call, call_filename, verbose=True)

Successfully saved to /content/gdrive/My Drive/CAPP-30239-Data-Viz/assignment-2/data/tracts_311_call.csv.

In [0]:
tracts_311_call.sample(n=5)

             SR_NUMBER                    SR_TYPE  ... tractce10 countyfp10
2103696  SR19-03017394  311 INFORMATION ONLY CALL  ...    838200        031
82154    SR19-01881304  311 INFORMATION ONLY CALL  ...    838200        031
1752729  SR19-01137806  311 INFORMATION ONLY CALL  ...    838200        031
2351355  SR20-03320440  311 INFORMATION ONLY CALL  ...    838200        031
874022   SR19-02699102  311 INFORMATION ONLY CALL  ...    838200        031

[5 rows x 31 columns]